<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>

    <add key="HOST_BROKER" value="192.168.239.111" />
    <add key="PORT_BROKER" value="1883" />
    <add key="USER_BROKER" value="mqttUser" />
    <add key="PWD_BROKER" value="ItaltonMqtt" />
    <add key="DESTINATION" value="GRP_RULLIERA1C" />
    <add key="FORZA_SCARICO_MAGAZZINO" value="SI" />
  </appSettings>

  <connectionStrings>
    <add name="ItaltonContext" connectionString="data source=192.168.239.111;initial catalog=italton;persist security info=True;user id=sa;password=$SQL$1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />    
  </connectionStrings>  
</configuration>